@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .backdrop-blur-xl {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
}

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #EEF4FE;
}

body {
  position: relative;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.anim-container::before,
.anim-container::after {
  content: "";
  position: absolute;
  transition: all 0.5s linear;
}

/* Custom styles */
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
